@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
}   

:root {
  --color-primary: #E67514;
  --color-dark: #212121;
  --color-green: #06923E;
  --color-lightGray: #D3ECCD;
}